* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
}

/* header */
.logo {
  width: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-li {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #075df8;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  -webkit-transition: all 0.3s ease-in-out;
  display: block;
  width: 35px;
  height: 3px;
  margin: 10px auto;
  background-color: black;
}

@media(max-width: 750px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar2 {
    opacity: 0;
  }

  .hamburger.active .bar1 {
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.active .bar3 {
    transform: translateY(-13px) rotate(-45deg);
  }

  .nav-list {
    position: fixed;
    flex-direction: column;
    right: -100%;
    gap: 0;
    top: 100px;
    width: 100%;
    background-color: white;
    transition: 0.7s;
  }

  .nav-list.active {
    right: -50%;
    transform: translateX(-50%);
  }

  .nav-link {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
  }
}

/* footer */
footer {
  text-align: center;
  margin: 30px;
}

footer a {
  margin: 15px;
  font-size: 4vw;
  text-decoration: none;
  color: black;
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  transition: 0.3s ease;
}

footer a:nth-child(1):hover {
  color: #0077b5;
  transition: 0.3s ease;
}

footer a:nth-child(2):hover {
  color: #c0007a;
  transition: 0.3s ease;
}

footer a:nth-child(3):hover {
  color: #BB001B;
  transition: 0.3s ease;
}

footer a:nth-child(4):hover {
  color: #6cc644;
  transition: 0.3s ease;
}

footer p {
  margin: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* main content */
main {
  padding: 50px 15%;
}

.page-heading {
  margin: 0 0 30px 0;
}

.heading-line {
  display: block;
  width: 120px;
  height: 3px;
  margin: 30px 0;
  background-color: #075df8;
}

.page-heading h1 {
  font-size: 10vw;
  font-weight: 500;
}

.page-heading h2 {
  font-size: 5vw;
  font-weight: 300;
}

.link-color {
  color: blue;
}

.first-heading {
  display: inline-block;
}

/* bouncing arrow */
.fa-angles-down {
  font-size: 40px;
  padding: 10px;
  margin: 60px 0;
  position: relative;
  left: 45%;
  transform: translateX(-50%);
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fa-angles-down:hover {
  color: rgba(0,0,0,0.7);
}

.bounce {
  animation: bounce 2s infinite 1.5s, fade-in-3 2s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  } 40% {
    transform: translateY(-20px);
  } 60% {
    transform: translateY(-15px);
  }
}

/* work */
.fa-folder-open {
  font-size: 10vw;
  color: #075df8;
  margin-top: 20px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10% 0 10%;
  border-style: solid;
  border-radius: 50px;
  border-width: thin;
  margin: 100px 0;
}

.page-content * {
  margin: 30px 0;
}

.page-content h2 {
  font-size: 7vw;
}

.page-content p {
  font-size: 4vw;
}

.languages {
  max-width: 80%;
}

.learn-more-button {
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  width: 50%;
  border-style: solid;
  border-width: thin;
  background-color: white;
  border-radius: 10px;
  border-color: #075df8;
  padding: 10px;
  cursor: pointer;
}

/* travel */
.fa-plane {
  font-size: 10vw;
  color: #075df8;
  margin-top: 20px;
}

.travel-container {
  margin: 100px 0;
}

.travel-container h2 {
  font-size: 8vw;
  margin-bottom: 30px;
  font-weight: 700;
}

.travel-container img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.travel-container img:hover {
  transform: scale(1.03);
  transition: 0.5s ease;
}

.travel-container h2 span:last-child {
  font-weight: 300;
}

.travel-container:nth-child(1) {
  background: url('/images/hoi-an.jpg');
  background-size: 10%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(2) {
  background: url('/images/ithaca1.jpeg');
  background-size: 50%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(3) {
  background: url('/images/nyc1.jpeg');
  background-size: 30%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(4) {
  background: url('/images/pittsburgh1.jpg');
  background-size: 20%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(5) {
  background: url('/images/nola1.jpg');
  background-size: 50%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(6) {
  background: url('/images/biloxi.jpeg');
  background-size: 50%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.travel-container:nth-child(7) {
  background: url('/images/mobile.jpg');
  background-size: 70%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


/* about */
.fa-child-reaching {
  font-size: 10vw;
  color: #075df8;
  margin-top: 20px;
}

.about-container {

}

/* fade in animation */
@keyframes fade-in-1 {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
  } 60% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes fade-in-3 {
  0% {
    opacity: 0;
  } 80% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.fadeIn1 {
  animation: fade-in-1 1s;
  animation-iteration-count: 1;
}

.fadeIn2 {
  animation: fade-in-2 1.5s;
  animation-iteration-count: 1;
}

.fadeIn3 {
  animation: fade-in-3 2s;
  animation-iteration-count: 1;
}

/* other classes */
.hidden {
  display: none;
}

.fixed-position {
  position: fixed;
}

.darken {
  background-color: rgba(0,0,0,0.8);
  transition: 0.7s;
  pointer-events: none;
}

.fademe, .fademe-footer {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}
